@{
    ViewData["Title"] = "CheckAccount";
}

<h1>CheckAccount</h1>

<div class="container">
    <form id="myForm">
        <div class="mb-3">
            <label for="inputName" class="form-label">姓名: </label>
            <input type="text" class="form-control" id="inputName" placeholder="請輸入姓名">
            <div id="errorName" class="text-danger mb-3"></div>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">電子郵件: </label>
            <input type="email" class="form-control" id="inputEmail" placeholder="請輸入電子郵件">
            <div id="errorEmail" class="text-danger mb-3"></div>
        </div>
        <div class="mb-3">
            <label for="inputAge" class="form-label">年紀: </label>
            <input type="text" class="form-control" id="inputAge" placeholder="請輸入年紀">
        </div>
        <button type="submit" class="btn btn-primary">送出</button>
        <div id="result"></div>
    </form>
</div>


@section Styles {
    <style>

    </style>

}
@section Scripts {
    <script>
        const result = document.querySelector("#result");
        const errorName = document.querySelector("#errorName");
        const errorEmail = document.querySelector("#errorEmail");
        const inputName = document.querySelector("#inputName");
        const inputEmail = document.querySelector("#inputEmail");
        const inputAge =  document.querySelector("#inputAge");
        inputName.addEventListener("blur", async (evt) => {
            const url = `@Url.Content("~/api/checkAccount")?Name = ${evt.target.value}`
            const response = await fetch(url);
            const data = await response.text();
            errorName.innerHTML = data;
        })

        input2.addEventListener("input", async(e) => {
            const url = `@Url.Content("~/api/checkaccount")?email=${e.target.value}`
            const res = await fetch(url);
            // console.log(res);
            const data = await res.text();
            if (data != "此名稱已被使用, 請再試一次") {
                errorEmail.style.color = "green";
                errorEmail.innerHTML = data;
            }
            errorEmail.innerHTML = data;           
        })


        document.querySelector("#myForm").addEventListener("submit", async (e) => {
            e.preventDefault();

            const name = input1.value;
            const email = input2.value;
            const age = input3.value;

            const url = `@Url.Content("~/api/checkaccount")`;
            const res = await fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ name, email, age })
            });
            console.log(res);

            const data = await res.text();
            result.innerHTML = data;
        });



    </script>
}